<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %> 
<body>
    <h1><%= title %></h1>
    <%- include("partials/navbar.ejs") %> 
    <br>
    <form action="/register/add" method="POST">
        <div>
            <label>Name</label>
            <input type="text" name="name" placeholder="Type your name">
        </div>
        <div>
            <label>Age</label>
            <input type="text" name="age" placeholder="Type your age">
        </div>
        <div>
            <label>E-mail</label>
            <input type="text" name="email" placeholder="Type your e-mail">
        </div>
        <div>
            <label>Password</label>
            <input type="text" name="password" placeholder="Type your password">
        </div>
        <button type="submit">Register</button>

        <% if (typeof message !== "undefined") { %>
            <span><%= message %> </span>
        <% } %> 

    </form>

    <%- include("partials/foot.ejs") %> 
</body>
</html>