<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')%>
</head>
<body>

    <%- include('partials/header.ejs') %>

    <section class="container">
        <%- include('partials/navbar.ejs') %>
        <article class="content">
            <h1>Welcome</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae debitis maxime delectus corrupti voluptate accusamus iure quae libero excepturi perspiciatis officiis, repellat magnam cupiditate reiciendis esse omnis temporibus exercitationem vitae.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae debitis maxime delectus corrupti voluptate accusamus iure quae libero excepturi perspiciatis officiis, repellat magnam cupiditate reiciendis esse omnis temporibus exercitationem vitae.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae debitis maxime delectus corrupti voluptate accusamus iure quae libero excepturi perspiciatis officiis, repellat magnam cupiditate reiciendis esse omnis temporibus exercitationem vitae.</p>
        </article>
    </section>

    <%- include('partials/footer.ejs') %>

    <%- include('partials/foot.ejs') %>
</body>
</html>